.temp {
  position: relative;
  &::after {
    display: block;
    content: '';
    position: absolute;
    z-index: 1;
    height: 1.25rem;
    width: 100%;
    background: linear-gradient(rgba(52, 52, 52, 0), rgb(52, 52, 52));
    bottom: 0;
  }
  &::before {
    display: block;
    content: '';
    position: absolute;
    z-index: 1;
    height: 1.25rem;
    width: 100%;
    background: linear-gradient(rgb(52, 52, 52),rgba(52, 52, 52, 0));
    top: 0;
  }
  > code {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}